body {
	font-size: 16px
	color: #fff;
	background-color: white;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: grey;
	border-radius: 0;
	border: 2px solid black;
	font-size: 50px;
}

.navbar-brand {
  padding-top: 50px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  float: left;
  margin-left: 0%;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 1px;
}


#nav-list div {
	color: black;

	text-align: center;
	background-color: white;
	border: 1px solid black;
	font-size: 0.5em;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#menuHeader {
  position: relative;
  font-size: 50px;
  text-align: center;
  padding: 20px;
  background-color: white;
  width: 100%;
  top: 65px;
  left: 0px;

}


#menu1 {
  position: relative;
  border: 3px solid black;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  background-color: grey;
  width: 100%;
  top: 65px;
  left: 0px;
}

#menu2 {
  position: relative;
  border: 3px solid black;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  background-color: grey;
  width: 100%;
  top: 65px;
  left: 0px;
}

#menu3 {
  position: relative;
  border: 3px solid black;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  background-color: grey;
  width: 100%;
  top: 65px;
  left: 0px;
}

#sectionHeader1 {
  position: relative;
  font-size: 35px;
  text-align: center;
  padding: 5px;
  background-color: grey;
  width: 100%;
  top: 0px;
  left: 0px;

}

#sectionHeader2 {
  position: relative;
  font-size: 35px;
  text-align: center;
  padding: 5px;
  background-color: grey;
  width: 100%;
  top: 0px;
  left: 0px;

}

#sectionHeader3 {
  position: relative;
  font-size: 35px;
  text-align: center;
  padding: 5px;
  background-color: grey;
  width: 100%;
  top: 0px;
  left: 0px;
}



